.Note {
    display: flex;
    flex-direction: column;
}

.Cardbox {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background: #f5f4e8;
    z-index: 0;
    max-width: 140vw;
}

.lastSave {
    color: darkgray;
    font-max-size: 0.5vh;
}

.RichTextEditor {
    box-shadow: 2px 2px #dddddd;
}

.Code {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.ͼ1.cm-editor.cm-focused {
    outline-style: none;
    border-left: thick cornflowerblue solid;
}

.FlashCard {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
}

.FocusIndicator {
    margin: auto;
}


.RichMediaBlock > .Cardbox:focus{
    border-left: thick cornflowerblue solid;
}

.RichMediaBlock > .RichTextEditor :focus{
    border-left: thick cornflowerblue solid;
}

.quill {
    max-width: 140vw;
    background-color: #fff;
}

.ql-tooltip {
    margin-left: 7vw;
    z-index: 10;
}

.ql-picker {
    z-index: 10;
}

