.Note {
    display: flex;
    flex-direction: column;
}

/*.NotePage {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.Cardbox {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2vh;
    background: #f5f4e8;
    margin-left: 1vh;
    z-index: 0;
    max-width: 132vh;
}

.RichTextEditor {
    box-shadow: 2px 2px #dddddd;
}

.FlashCard {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
}

.FocusIndicator {
    margin: auto;
}


.RichMediaBlock > .Cardbox:focus{
    border-left: thick cornflowerblue solid;
}

.RichMediaBlock > .RichTextEditor :focus{
    border-left: thick cornflowerblue solid;
}

.quill {
    max-width: 140vh;
    background-color: #fff;
}

.ql-tooltip {
    margin-left: 7vw;
    z-index: 10;
}

.ql-picker {
    z-index: 10;
}

