.RichTextEditor {
    margin: 2vh;
}

.Note {
    display: flex;
    flex-direction: column;
}

.Cardbox {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2vh;
    background: #f5f4e8;
    margin-left: 2vh;

}

.FlashCard {
    margin-left: auto;
    margin-right: auto;
}

.FocusIndicator {
    margin: auto;
}


.RichMediaBlock > .Cardbox:focus{
    border-left: thick cornflowerblue solid;
}

.RichMediaBlock > .RichTextEditor :focus{
    border-left: thick cornflowerblue solid;
}

