.ͼ1.cm-editor {
    min-height: 72px;
    font-size: 15px;
    padding-bottom: 5px;
}

.ͼ1.cm-editor.cm-focused {
    outline-style: none;
    border-left: thick cornflowerblue solid;
}

.Cardbox {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background: #f5f4e8;
    z-index: 0;
    max-width: 140vw;
}

.CellOptions {
    max-width: 8%;
    background-color: lightcyan;
    margin-right: 2vh;
}

.CellWithOptions {
    width: 100%;
}

.CellWithOptions:focus, .CellWithOptions:active {
    outline: none;
}

.Code {
    min-width: 94.5%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    min-height: 0.8rem;
}

.CodeCellOptions {
    max-width: 8%;
    background-color: lightcyan;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.CodeResultText {
    margin-top: 1.5vh;
    padding: 1vh;
    margin-bottom: 1.5vh;
}

.CodeResultHTML tr,
.CodeResultHTML th,
.CodeResultHTML td {
    text-align: left;
    vertical-align: middle;
    padding: 0.42em 0.47em;
    line-height: normal;
    font-size: 9.3pt;
    white-space: normal;
    max-width: none;
    border: none;
}
.CodeResultHTML td {
    font-family: sans-serif !important;
    font-size: 9.3pt;
}
.CodeResultHTML table {
    font-family: sans-serif !important;
    margin-left: 8px;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: #353535;
    table-layout: fixed;
}
.CodeResultHTML thead {
    font-family: sans-serif !important;
    font-size: 10.3pt !important;
    background: #ebebeb;
    color: #353535;
    border-bottom: 1px solid #ebebeb;
    vertical-align: bottom;
}
.CodeResultHTML tbody tr:nth-child(odd) {
    background: #fafafa;
}
.CodeResultHTML tbody tr {
    background: #f2f2f2;
}
.CodeResultHTML tbody tr:hover:nth-child(odd) {
    background: #f7f7f7;
}
.CodeResultHTML tbody tr:hover {
    background: #f0f0f0;
}
.CodeResultHTML * + table {
    margin-top: .05em;
}

.ExecutionStatus {
    margin-top: 0;
}

.FlashCard {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
}

:focus {
    outline: 0 !important;
}

.FocusIndicator {
    margin: auto;
}

.kernelStatus {
    color: darkgray;
    font-max-size: 0.5vh;
}

.lastSave {
    color: darkgray;
    font-max-size: 0.5vh;
}

.MuiSvgIcon-root {
    color: black;
}

.Note {
    display: flex;
    flex-direction: column;
}

.MuiSvgIcon-root {
    color: black;
}

.ReviewFlashCard {
    margin: auto;
}

.RichTextEditor {
    /*box-shadow: 2px 2px #dddddd;*/
    min-width: 95%;
}

.RichMediaBlock > .Cardbox:focus{
    border-left: thick cornflowerblue solid;
    outline:none
}

.ql-tooltip {
    margin-left: 7vw;
    z-index: 10;
}

.ql-picker {
    z-index: 10;
}

.quill {
    min-width: 94.5%;
    background-color: #fff;
    outline: none;
}



