.Note {
    display: flex;
    flex-direction: column;
}

.MuiSvgIcon-root {
    color: black;
}

.Cardbox {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background: #f5f4e8;
    z-index: 0;
    max-width: 140vw;
}

.lastSave {
    color: darkgray;
    font-max-size: 0.5vh;
}

.CellWithOptions {
    width: 100%;
}

.RichTextEditor {
    /*box-shadow: 2px 2px #dddddd;*/
    min-width: 93%;
}

.CellOptions {
    max-width: 8%;
    background-color: lightcyan;
    margin-right: 2vh;
}

.CodeCellOptions {
    max-width: 8%;
    background-color: lightcyan;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.CellWithOptions:focus {
    outline: none;
}

.Code {
    min-width: 92%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: auto;
}

.ͼ1.cm-editor {
    min-height: 10vh;
}

.ͼ1.cm-editor.cm-focused {
    outline-style: none;
    border-left: thick cornflowerblue solid;
}

.FlashCard {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
}

.ReviewFlashCard {
    margin: auto;
}

.FocusIndicator {
    margin: auto;
}

.RichMediaBlock > .Cardbox:focus{
    border-left: thick cornflowerblue solid;
    outline:none
}

.quill {
    min-width: 92%;
    background-color: #fff;
    outline: none;

}

.ql-tooltip {
    margin-left: 7vw;
    z-index: 10;
}

.ql-picker {
    z-index: 10;
}

